/* type */
body a {
	text-decoration: none;
}

.choice {
	font-family: 'Arial';
	color: #fff;
	background-color: #000033;
}

.choice a,
a visited,
a active {
	color: #ffff00;
	font-weight: bolder;
}

.secondRow {
	font-size: 0.9em;
}

.glyphicon {
	color: #fff;
}

.black {
	color: #000;
}

/* layout */
#shareInput {
	display: none;
}

.ghostclass {
	opacity: 0.4;
	color: #ffcc00;
}
.film {
	background-color: #000066;
}

.grip {
	display: inline;
	padding: 4px;
	margin: 4px;
	cursor: move;
	cursor: -webkit-grab; cursor: -moz-grab;
}

.grip:active {
	cursor: move;
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

.addItem {
	display: inline;
	padding: 4px;
	margin: 4px;
	cursor: pointer;
}