/* type */
body a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
	color: #0099cc;
}

.choice {
	font-family: 'Arial';
	color: #fff;
	background-color: #000033;
}

.choice a,
.choice a:visited,
.choice a:active {
	color: #ffff00;
	font-weight: bolder;
}

.secondRow {
	font-size: 0.9em;
	margin-left: 30px;
}

.glyphicon {
	color: #fff;
}

/* layout */

html {
    overflow-y: scroll;
}

body {
	background-color: #000;
	color: #ccc;
}

ul {
	padding-left: 0px;
}

input.filter {
	color: #0099cc;
	border: 1px solid #9b99af;
	background-color: #000;
}

.myColumn {
	display: table;
	width: 100%;
}

.ranksHead {
	display: table-cell;
}

.black,
.popover-content {
	background-color: #1a1a1a;
}

.gray {
	background-color: #666;
}

#ranksButtons {
	text-align: right;
	margin: 10px;
	display: table-cell;
}

#ranksButtons div {
	display: inline;
	padding: 5px;
	border: 1px solid #9b99af;
	border-radius: 5px;
	margin: 2px;
	cursor: pointer;
}

#dragHere {
	margin: 10px;
}

#shareInput {
	display: none;
}

#dragHere {
	text-align: center;
}

.ghostclass {
	opacity: 0.4;
	color: #ffcc00;
}

.film {
	background-color: #020016;
}

.book {
	background-color: #030021;
}

.comics {
	background-color: #02001c;
}

.tv {
	background-color: #04002c;
}

.grip {
	display: inline;
	padding: 4px;
	margin: 4px;
	cursor: move;
	cursor: -webkit-grab; cursor: -moz-grab;
}

.grip:active {
	cursor: move;
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}

.item {
	display: table;
	width: 100%;
}

.addItem {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.itemContent {
	vertical-align: middle;
}

.grip {
	float: left;
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 991px) {
	.grip {
		font-size: 2em;
	}
	.addItem .glyphicon {
		font-size: 2em;
	}
}