<!DOCTYPE html>
<html ng-app="swSort">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta property="fb:app_id" content="1213836965309492" />
	<meta property="og:url" content="http://nicetryinternet.com/star-wars-ranker/index.htm" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Star Wars ranker: What's the best? What's the worst? You decide." />
	<meta property="og:description" content="Is the first Star Wars movie the best one? Where does The Clone Wars TV show fit in? And in which order should they all be watched?" />
	<meta property="og:image" content="http://nicetryinternet.com/star-wars-ranker/share.jpg" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

	<script src="js/sortable.min.js"></script>
	<script src="js/ng-sortable.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Star Wars Ranker: From best to worst, share your favorites</title>
</head>
<body ng-app="swSort" ng-controller="swSortCtrl">
	<div id="fb-root"></div>

<!-- Load Facebook SDK for JavaScript -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1213836965309492',
				xfbml      : true,
				version    : 'v2.5'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "http://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);

		t._e = [];
		t.ready = function(f) {
		t._e.push(f);
		};

		return t;
	}(document, "script", "twitter-wjs"));</script>

	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.htm">Star Wars Ranker</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a onClick="Model.saveChoices()" data-toggle="modal" data-target="#shareModal">Share</a></li>
					<li><a href="examples.htm">Examples</a></li>
					<li><a href="about.htm">About</a></li>
					<li><a href="donate.htm">Donate</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="col-sm-12 col-md-6 list-group">
			<div class="myColumn">
				<div class="ranksHead">
					<h4>MY ORDER</h4>
				</div>
				<div id="ranksButtons">
					<div id="saveChoices" onClick="Model.saveChoices()" data-toggle="modal" data-target="#shareModal"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share </div><div id="clearChoices" onClick="Model.clearChoices()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear </div>
				</div>
			</div>
			<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content black">
						<div class="modal-header gray">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Share your list</h4>
						</div>
						<div class="modal-body">
							<div id="tw-share">
								<a class="twitter-share-button"
								href="https://twitter.com/share"
								data-size="large"
								data-url="http://nicetryinternet.com/star-wars-ranker"
								data-related="nicetryinternet,daveburdick,starwars,tordotcom"
								data-hashtags="starwars"
								data-text="Everything Star Wars, ranked. By me.">
								Tweet
								</a>
							</div>

							<div id="share">
								<div class="fb-share-button" id="fb-share" data-layout="button_count" onclick="FB.ui({method: 'share', href: newUrl,}, function(response){});">
								</div><br>
								Or just copy and paste this URL: <span id="shareUrl"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="dragHere">Drag items here with the <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> or press the <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> to start creating your list.</div>
			<ul id="ranks" ng-sortable="mineConfig" style="min-height: 50px">
				<li ng-repeat="item in mine" class="{{item.type + ' ' + item.canon}} list-group-item choice">
					<div class="item">
						<div class="grip"><span class="glyphicon glyphicon-menu-hamburger handle" aria-hidden="true"></span></div>
						<div class="itemContent">
							<div class="firstRow"><span class="rank">{{$index + 1}}. </span><span class="itemTitle"><a href="{{item.url}}">{{item.title}} </a></span>({{item.year}})</div>
						</div>
						<div class="addItem"><span style="float: right" class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeSingle(item.id)"></span></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-6 list-group">
			<div class="optionsButtons" css="vertical-align: middle">
				<form>
				<input ng-model="query" class="form-control filter" placeholder="Filter by title, writer, series or year">
				<div class="checkbox">
				<label><input type="checkbox" id="movieButton" checked>Movies</label>
				<label><input type="checkbox" id="booksCanonButton">Books (Canon)</label>
				<label><input type="checkbox" id="booksLegendsButton">Books <span data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content='In April 2014, Disney reset the Star Wars universe, making books and other properties that had already been published no longer a part of the official, "canon" Star Wars timeline. Those older works now carry the label "Legends."'>(Legends)</span></label>
				<label><input type="checkbox" id="comicsCanonButton">Comics (Canon)</label>
				<label><input type="checkbox" id="comicsLegendsButton">Comics <span data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content='In April 2014, Disney reset the Star Wars universe, making books and other properties that had already been published no longer a part of the official, "canon" Star Wars timeline. Those older works now carry the label "Legends."'>(Legends)</span></label>
				<label><input type="checkbox" id="tvButton">TV</label>
				</div>
				</form>
			</div>
			<ul id="options" ng-sortable="{group: {name: 'choices',  pull: 'clone', put: 'false'}, handle: '.handle', sort: false}">
				<li ng-repeat="item in stories | filter:query" class="{{item.type + ' ' + item.canon}} list-group-item choice">
					<div class="item">
						<div class="grip"><span class="glyphicon glyphicon-menu-hamburger handle" aria-hidden="true"></span></div>
						<div class="itemContent">
							<div class="firstRow"><span class="itemTitle"><a href="{{item.url}}">{{item.title}} </a></span></div>
							<div class="secondRow"><span class="authorName">{{item.author}} </span><span class="year">({{item.year}})</span></div>
						</div>
						<div class="addItem"><span style="float: right" class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addSingle(item.id)"></span></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="js/sort.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-71068373-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>