<DOCTYPE html>
<html ng-app="swSort">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

	<script src="js/sortable.min.js"></script>
	<script src="js/ng-sortable.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Sort</title>
</head>
<body ng-app="swSort" ng-controller="swSortCtrl">
	<div class="container">
		<div class="page-header">
		<h1>Star Wars Ranker</h1>
		</div>
		<div class="col-sm-12 col-md-6  list-group">
			<div class="ranksHead">
				<h3>MY RANKS</h3>
			</div>
			<div class="ranksButtons">
				<button type="button" id="saveChoices" onClick="Model.saveChoices()"><span class="glyphicon glyphicon-saved black" aria-hidden="true"></span> Save </button><button type="button" id="clearChoices" onClick="Model.clearChoices()"><span class="glyphicon glyphicon-trash black" aria-hidden="true"></span> Clear </button><div id="shareInput">Your URL: <input id="shareUrl"></div>
			</div>
			<div>Drag items to this column </div>
			<ul id="ranks" ng-sortable="{group: 'choices'}" style="min-height: 50px">
				<li ng-repeat="item in mine" class="{{item.type + ' ' + item.canon}} list-group-item choice">
					<span class="handle"><div class="grip"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div></span><span class="itemTitle"><a href="{{item.url}}">{{item.title}}</a></span> ({{item.year}})
					<div class="addItem"><span style="float: right" class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeSingle(item.id)"></div>
				</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-6 list-group">
			<div class="optionsHead"><h3>OPTIONS</h3></div>
			<div class="optionsButtons">
				<button type="button" id="movieButton">movies</button>
				<button type="button" id="booksCanonButton">books (canon)</button>
				<button type="button" id="booksLegendsButton">books (legends)</button>
				<button type="button" id="comicsCanonButton">comics (canon)</button>
				<button type="button" id="tvButton">tv</button>
				<input ng-model="query" class="form-control" placeholder="Filter by title, author, series or year">
			</div>
			<ul id="options" ng-sortable="{group: {name: 'choices',  pull: 'clone', put: 'false'}, handle: '.handle', sort: false}">
				<li ng-repeat="item in stories | filter:query" class="{{item.type + ' ' + item.canon}} list-group-item choice">
					<div class="firstRow"><span class="handle"><div class="grip"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div><span class="itemTitle"><a href="{{item.url}}">{{item.title}} </a></span><div class="addItem"><span style="float: right" class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addSingle(item.id)"></span></div></div>
					<div class="secondRow"><span class="authorName">{{item.author}} </span><span class="year">({{item.year}})</span></div>
				</li>
			</ul>
		</div>
	</div>

	<script src="js/sort.js"></script>
</body>
</html>