<!DOCTYPE html>
<html ng-app="lineupSort">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta property="fb:app_id" content="APP_ID" />
	<meta property="og:url" content="URL" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Starting lineup selector: Which five are you going with, coach?" />
	<meta property="og:description" content="Who's got the hot hand? Whose injury is slowing them down too much? Put yourself in the coach's shoes and pick a winning starting five." />
	<meta property="og:image" content="IMG_URL" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

	<script src="js/sortable.min.js"></script>
	<script src="js/ng-sortable.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Starting lineup selector: Which five are you going with, coach?</title>
</head>
<body ng-app="lineupSort" ng-controller="lineupSortCtrl">
	<div id="fb-root"></div>

<!-- Load Facebook SDK for JavaScript -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1213836965309492',
				xfbml      : true,
				version    : 'v2.5'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "http://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script>window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);

		t._e = [];
		t.ready = function(f) {
		t._e.push(f);
		};

		return t;
	}(document, "script", "twitter-wjs"));</script>

	<nav class="navbar navbar-default navbar-static-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.htm">Starting Lineup Selector</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a onClick="Model.saveChoices()" data-toggle="modal" data-target="#shareModal">Share</a></li>
					<li><a href="#">Denver Nuggets news</a></li>
					<li><a href="#">Nuggets Ink blog</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="col-sm-12 col-md-6 list-group">
			<div class="myColumn">
				<div class="ranksHead">
					<h4>MY LINEUP</h4>
				</div>
				<div id="ranksButtons" class="sortButtons">
					<div id="saveChoices" onClick="Model.saveChoices()" data-toggle="modal" data-target="#shareModal"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Save/Share </div><div id="clearChoices" onClick="Model.clearChoices()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Clear </div>
				</div>
			</div>
			<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content black">
						<div class="modal-header gray">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Share your lineup</h4>
						</div>
						<div class="modal-body">
							<div id="tw-share">
								<a class="twitter-share-button"
								href="https://twitter.com/share"
								data-size="large"
								data-url="http://nicetryinternet.com/star-wars-ranker"
								data-related="denverpost"
								data-hashtags="nba"
								data-text="Here's who should be starting for the #Nuggets!">
								Tweet
								</a>
							</div>

							<div id="share">
								<div class="fb-share-button" id="fb-share" data-layout="button_count" onclick="FB.ui({method: 'share', href: newUrl,}, function(response){});">
								</div><br>
								Or just copy and paste this URL: <input id="shareUrl">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="dragHere">Press the <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> on a title to start creating your list and adjust your lineup by dragging the <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>. <a href="examples.htm">Need ideas</a>?</div>
			<ul id="ranks" ng-sortable="mineConfig">
				<li ng-repeat="player in mine" class="list-group-item choice">
					<div class="player">
						<div class="grip"><span class="glyphicon glyphicon-menu-hamburger handle" aria-hidden="true"></span></div>
						<div class="firstRow"><span class="playerNumber">{{player.Number}} </span><span class="playerName"><a href="{{player.url}}">{{player.First}} {{player.Last}}</a></span><span class="playerPosition"> ({{player.Position}})</span></div>
							<div class="secondRow"><span class="playerVitals">{{player.Height}} / {{player.Weight}}</span><span class="playerFrom">({{player.From}})</span></div>
						<div class="addItem"><span style="float: right" class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeSingle(player)"></span></div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-6 list-group">
			<ul id="options">
				<li ng-repeat="player in players | filter: {added: false}" class="list-group-item choice">
					<div class="player">
						<div class="playerContent">
							<div class="firstRow"><span class="playerNumber">{{player.Number}} </span><span class="playerName"><a href="{{player.url}}">{{player.First}} {{player.Last}}</a></span><span class="playerPosition"> ({{player.Position}})</span></div>
							<div class="secondRow"><span class="playerVitals">{{player.Height}} / {{player.Weight}}</span><span class="playerFrom">({{player.From}})</span></div>
						</div>
						<div class="addItem"><span style="float: right" class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addSingle(player.id)"></span></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="js/sort.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-71068373-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>